// pages
@import './pages/register.scss';
@import './pages/detail.scss';


$color-back: #000000;
$color-purple: #9C27B0;
$color-orange: #F8B653;
$color-white: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    // background-color: $color-white;
    // color: $color-back;
}

;

a {
    text-decoration: none;
}

;

.header {
    max-width: 1366px;
    margin: 0 auto;
    background-color: $color-back;
    isolation: isolate;

    .container-fluid {
        .d-flex {
            a {
                color: $color-white;
            }

            .quatity-count {
                background-color: $color-white;
                border-radius: 50%;
                padding: 0 0.3rem;
            }

            ;
        }
    }

    ;
}

;

.darkmode--activated .header {
    background-color: $color-back !important;

    .container-fluid {
        background-color: $color-back;

        .d-flex {
            a {
                color: $color-white;
            }

            .quatity-count {
                background-color: $color-white;
                border-radius: 50%;
                padding: 0 0.3rem;
            }
        }

        ;
    }
}

;

.navbar-expand-lg {
    max-width: 1366px;
    margin: 0 auto;
    background-color: $color-white;

    .container-fluid {
        .collapse {
            ul {
                li {
                    padding: 0.45rem 0.8rem;

                    a {
                        color: #5e5959;
                        padding: 0;
                        padding-bottom: 0.3rem;
                        font-weight: 500;
                        position: relative;

                        &:hover {
                            color: $color-back;
                            transition: color 0.5s;
                        }

                        ;

                        &::after {
                            content: '';
                            width: 0;
                            height: 0.1rem;
                            background-color: $color-back;
                            position: absolute;
                            bottom: 1px;
                            left: 0;
                            transition: width 0.5s;
                        }

                        ;

                        &:hover::after {
                            width: 100%;
                            transition: width 0.5s;
                        }
                    }
                }
            }

            ;
        }
    }
}

.carousel {
    background-color: $color-white;

    .carousel-inner {
        max-width: 1366px;
        margin: 0 auto;
        // background-image: url(./../../../public/img/image\ 6.png);
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            position: relative;

            .carousel-caption {
                color: $color-back;
                position: absolute;
                top: 25%;
                left: 75%;
                text-align: left;

                h5 {
                    font-size: 2.3rem;
                    font-weight: 400;
                }

                ;

                button {
                    padding: 12px 42px;
                }
            }
        }
    }
}

;

.footer {

    .top_footer .container,
    .bot_footer .container {
        // display: flex;
        padding: 2rem 0;

        .footer-content {
            // width: 33%;
            padding: 0 2rem;
            margin: 0.5rem 0;

            h5 {
                font-weight: 600;
                font-size: 1rem;
            }

            ;

            ul {
                padding: 0;

                li {
                    list-style: none;

                    a,
                    p {
                        font-size: 0.8rem;
                        color: $color-back;
                    }
                }

                ;

                .footer-click-add {
                    color: #db742e;
                }

                ;
            }

            ;

            &.mid,
            &.right {
                padding-bottom: 0;
                border-left: 0.1rem solid #d3cdcd;
            }
        }
    }

    ;

    & .bot_footer {
        background-color: #e6e6e6
    }
}

;

/* BACK TO TOP  */
.backtoTop {
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 85px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $color-back;
    color: $color-white;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
}

;

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

;

.darkmode--activated .backtoTop {
    background-color: $color-white;
    color: $color-back;
}

;

.darkmode-toggle {
    z-index: 999;
}

;